@media only screen and (max-width: 1000px) {
  .cs-container {
    flex-direction: column-reverse;
    width: fit-content;
  }

  .cs-toolbox {
    border-bottom: 1px dashed black;
    padding-bottom: 1em;
  }

  .mystery-cd-image {
    width: 30vw;
  }

  .ooa-link {
    z-index: 10000;
  }

  #mysteryCdImages {
    width: 100%;
  }
}

@media only screen and (min-width: 1001px) {
  .cs-toolbox {
    border-left: 1px dashed black;
    padding-left: 1em;
  }

  .cs-toolbox-hints {
    flex-direction: column-reverse;
  }
  
  .mystery-cd-image {
    width: 25vw;
  }

  .ooa-abstract {
    height: 40%;
    max-width: 40%;
    overflow-y: scroll;
  }

  #mysteryCdImages {
    width: fit-content;
  }
}

@media print {
  img {
    filter: grayscale(100%);
  }

  .cs-container {
    height: 100vh;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100vw;
  }

  .cs-days {
    margin: 0;
  }

  .cs-toolbox {
    display: none;
  }
}

.cs-container {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  gap: 0.5em;
  justify-content: space-between;
}

.cs-day-sunday {
  grid-area: a1;
}

.cs-day-monday {
  grid-area: a2;
}

.cs-day-tuesday {
  grid-area: a3;
}

.cs-day-wednesday {
  grid-area: a4;
}

.cs-days {
  column-gap: 4px;
  display: grid;
  grid-template-areas:
    "a1 vertdecal b1"
    "a2 vertdecal b2"
    "a3 vertdecal b3"
    "a4 vertdecal b4";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  margin: 4em 4em 7em 4em;
  row-gap: 40px;
}

.cs-toolbox {
  width: 100%;
}

.cs-toolbox-hints {
  display: flex;
  justify-content: space-between;
}

.cs-vertical-decal {
  grid-area: vertdecal;
  width: 110px;
}

.input-group {
  align-items: center;
  display: flex;
  column-gap: 1ch;
  margin: 0 0.5em;
}

.input-group:last-of-type {
  margin-bottom: 0.5em;
}

.input-group > input, select {
  flex-grow: 1;
}

.input-group.vertical {
  align-items: flex-start;
  flex-direction: column;
}

.ooa-abstract {
  background-color: rgb(240, 198, 135);
}

.ooa-abstract p {
  line-height: 1.5;
}

.ooa-body {
  background-image: url(/img/cs/cs2.jpg);
  background-size: 80%;
}

.ooa-image {
  mix-blend-mode: multiply;
  position: absolute;
}

.ooa-link {
  background-color: rgb(244, 122, 255);
  color: rgb(65, 65, 65);
  float: right;
  max-width: 20%;
  text-align: center;
}

.ooa-ui-element {
  padding: 2em;
  width: fit-content;
}

.selected-post {
  background-color: lightgreen;
}

.verdict-no {
  color: red;
  margin-block-end: 0;
  margin-block-start: 0;
}

.verdict-yes {
  color: green;
  margin-block-end: 0;
  margin-block-start: 0;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container > hr {
  width: 98%;
}

#cornerDecal {
  height: fit-content;
}

#cornerDecal > img {
  mix-blend-mode: multiply;
  width: 100%;
}

#message {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

#message > h1 {
  font-size: 10vw;
}

#message > h2 {
  font-size: xx-large;
}

#mysteryCdImages {
  align-items: center;
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

#postFrame {
  width: 65vw;
}

#postList {
  overflow-y: scroll;
  width: 25vw
}

#postList li {
  font-size: larger;
}

#postList > h2 {
  display: inline;
}

#posts {
  display: flex;
  gap: 0.5em;
  height: 100%;
  justify-content: center;
  margin: auto;
  margin-top: 1em;
  width: 100%;
}

#posts > * {
  height: 96%;
}

#toolbar {
  align-items: center;
  background-color: #efefef;
  border: 1px dashed black;
  display: flex;
  gap: 0.5em;
  padding: 5px;
  position: fixed;
}

#toolbox {
  background-color: #f3f3f3;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0 1em;
  row-gap: 1em;
  width: fit-content;
}

#toolbox > h3 {
  margin: 0;
  padding: 4px;
}

#verticalDecal {
  height: fit-content;
}

#verticalDecal > img {
  mix-blend-mode: multiply;
  width: 100%;
}