@media only screen and (max-width: 1000px) {
  .mystery-cd-image {
    width: 30vw;
  }

  #mysteryCdImages {
    width: 100%;
  }
}

@media only screen and (min-width: 1001px) {
  .mystery-cd-image {
    width: 25vw;
  }

  #mysteryCdImages {
    width: fit-content;
  }
}

#cornerDecal {
  height: fit-content;
}

#cornerDecal > img {
  mix-blend-mode: multiply;
  width: 100%;
}

#verticalDecal {
  height: fit-content;
}

#verticalDecal > img {
  mix-blend-mode: multiply;
  width: 100%;
}

.cs-container {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  gap: 0.5em;
  justify-content: space-between;
}

.cs-days {
  column-gap: 4px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  margin: 4em 0 7em 4em;
  row-gap: 40px;
}

.cs-toolbox {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 1em;
  row-gap: 1em;
}

.cs-toolbox > h3 {
  margin: 0;
  padding: 4px;
}

.cs-vertical-decal {
  grid-row-start: span 4;
  width: 140px;
}

.input-group {
  align-items: center;
  display: flex;
  column-gap: 1ch;
  margin: 0 1em 1em 1em;
}

.input-group > input {
  flex-grow: 1;
}

.selected-post {
  background-color: lightgreen;
}

.verdict-no {
  color: red;
  margin-block-end: 0;
  margin-block-start: 0;
}

.verdict-yes {
  color: green;
  margin-block-end: 0;
  margin-block-start: 0;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container > hr {
  width: 98%;
}

#message {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
}

#message > h1 {
  font-size: 10vw;
}

#message > h2 {
  font-size: xx-large;
}

#mysteryCdImages {
  align-items: center;
  display: grid;
  gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr;
}

#postFrame {
  width: 65vw;
}

#postList {
  overflow-y: scroll;
  width: 25vw
}

#postList li {
  font-size: larger;
}

#postList > h2 {
  display: inline;
}

#posts {
  display: flex;
  gap: 0.5em;
  height: 100%;
  justify-content: center;
  margin: auto;
  margin-top: 1em;
  width: 100%;
}

#posts > * {
  height: 96%;
}

#toolbar {
  align-items: center;
  background-color: #efefef;
  border: 1px dashed black;
  display: flex;
  gap: 0.5em;
  padding: 5px;
  position: fixed;
}
